<% provide :title, "Equipos" %>
<div class="container">
	<div id="team">
		<h3 class="text-center">
			<%= @team.name %>
		</h3>
		<hr>
		<div class="container-fluid">
		    <div class="row">
                <ul class="fa-ul">
                	<% @team.users.each do |user| %>
                    <li><span class="fa-li"><i class="fas fa-user"></i></span>
						<%= user.username %>
                    </li>
                    <% end %>
                </ul>

		        <% if @team.users.empty? %>
		        	<div class="col-md-12">
		        		<p class="text-center text-muted">
		        			No tiene usuarios
		        		</p>
		        	</div>
		        <% end %>
		    </div>
		</div>
		<hr>
		<br>
		<div class="row">
			<div class="col-6 col-sm-4 offset-sm-2">
				<%= link_to teams_path, class: "btn btn-secondary btn-block" do %>
					<span><i class="fas fa-chevron-left"></i></span> Atrás
				<% end %>
			</div>
			<div class="col-6 col-sm-4">
				<%= link_to edit_team_path(@team), class: "btn btn-primary btn-block" do %>
					Editar
				<% end %>
				<%# end if current_user.manager? %>
			</div>
		</div>
		<div class="row py-5">
			<div class="col-6 offset-3">
				<%= link_to team_path(@team), method: :delete,
				    data: { confirm: "Estas seguro de querer borrar #{@team.name}?" } do %>
					<p class="text-center faded-red">Borrar?</p>
				<% end %>
				<%# end if current_user.manager? %>
			</div>
		</div>
	</div>
</div>
